.TP_caption { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt;font-weight:bold }
.TP_input { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt;font-weight:bold }
.TP_rowcaptstyle { background-color:#EEEEEE;color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt; }
.TP_colcaptstyle { background-color:#EEEEEE;color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt; }
.TP_text { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt; }
.TP_progrestext { color:black;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt; }
.TP_progreslink { font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt; }
.TP_button { background-color:lightslategray;color:white;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9pt;width:90px }
.TP_title1 { background-color:slategray;color:white;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11pt;font-weight:bold }