.TP_body_div {
  text-align:center;
}
.TP_fondo1,.TP_TITULAR_TEXTO {
  background-color:#EA8F00;
}
.TP_fondo2 {
  background-color:#FAF0E6;
}
.TP_TITULAR_TEXTO {
  color:#FFFFFF;
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
  font-weight:bolder;
}
.TP_BIENVENIDA_INTRO {
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
  color:#000000;
  font-weight:bolder; 
}
.TP_BIENVENIDA_TEXTO {
  font-family:Arial,Helvetica,sans-serif;
  font-size:9pt;
  color:#000000;
}
.TP_IMAGEN_ARTICULO {
}
.TP_ARTICULO_td {
  text-align:left;
  vertical-align:top;
}
.TP_TITULAR_ARTICULO {
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
  font-weight:bolder;
  color:#000000;
}
.TP_PARRAFO_ARTICULO {
  font-family:Arial,Helvetica,sans-serif;
  font-size:9pt;
  color:#000000;
}
.TP_ENLACE_ARTICULO_div {
  text-align:right;
}
.TP_ENLACE_ARTICULO {
  font-family:Arial,Helvetica,sans-serif;
  font-size:7.5pt;
  color:#000000;
}
.TP_PIE_TEXTO {
  vertical-align:top;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt;
  color:#000000;
}
.TP_FOTO_PIE {
  text-align:right;
  vertical-align:middle;
}