.TP_body_div {
  text-align:center;
}
.TP_fondo1 {
  font-size:1px;
  background-color:#848400;
}
.TP_fondo2 {
  font-size:1px;
  background-color:#C0C000;
}
.TP_TITULAR_TEXTO {
  color:#FFFFFF;
  background-color:#848400;
  font-family:Times New Roman,serif;
  font-size:18pt;
  font-weight:bolder;
  text-align:center;
}
.TP_BIENVENIDA_INTRO {
  color:#008000;
  font-family:Times New Roman,serif;
  font-size:12pt;
  font-weight:bolder;
}
.TP_BIENVENIDA_TEXTO {
  color:#008000;
  font-family:Times New Roman,serif;
  font-size:11pt;
}
.TP_TITULAR_ARTICULO {
  color:#008000;
  font-family:Times New Roman,serif;
  font-size:12pt;
  font-weight:bolder;
}
.TP_PARRAFO_ARTICULO {
  color:#008000;
  padding-top:8px;
  font-family:Times New Roman,serif;
  font-size:11pt;
}
.TP_ENLACE_ARTICULO_div {
  text-align:right;
}
.TP_ENLACE_ARTICULO {
  color:#008000;
  padding-top:5px;
  font-family:Times New Roman,serif;
  font-size:10pt;
}
.TP_PIE_TEXTO {
  color:#008000;
  font-family:Times New Roman,serif;
  font-size:11pt;
}
.TP_FOTO_PIE {
  text-align:right;
}